
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

body{
  margin: 0;
  padding: 0;
  font-family: 'Glacial Indifference', sans-serif;
  background-color:#f7f7f7;
}

.footer{
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  min-height:320px;
}
.footer-top-line{
  width: 90%;
  height: 1px;
  background-color: #ccc; 
  border: none;
  margin: 0px auto 100px auto;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-columns{
  padding-top: 40px; 
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  text-align: center;      
  gap: 60px;              
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-col{
  flex: 1;
  min-width: 180px;
}

.footer-col h4{
  font-size: 1rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-col ul{
  padding: 0;
  list-style: none;
}

.footer-col ul li{
  font-size: 0.9rem;
  margin-bottom: 8px;
}


.footer-divider{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.footer-bottom{
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1000px;  
  padding: 1.5rem 2rem;
  background-color: #f7f7f7;
  margin-top: 1.5rem;
}

.mg-logo{
  width: 120px;
}

.social-icons{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.social-icons img{
  width: 28px;
  height: 28px;
}

.whatsapp-float{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-float img{
   width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  cursor: pointer;
}
